<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout ="http://www.ultrap.net.nz/thymeleaf/layout"	
	layout:decorate="~{layout/base_layout}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<!-- xmlns:layout layout 사용할거야
decorate -> layout 페이즈는 base_layout이랑 같이 나올거야
controller에서 board_List 실행하면 위의 태그들로 인해서 연결된 파일들 같이 열린다. -->

<!-- 계속 바뀌는 화면 -->

<div layout:fragment ="content">
	<div class="row">
		<div class="col">
			<table class="table table-hover" style="text-align: center;">
				<colgroup>
					<col width="10%">
					<col width="10%">
					<col width="20%">
					<col width="20%">
					<col width="20%">
					<col width="20%">
				</colgroup>
				<thead class="table-group-divider" style="font-size: 1.1rem; color: #4e4e4e;">
					<tr>
						<td>글번호</td>
						<td>글제목</td>
						<td>작성자</td>
						<td>작성일</td>
						<td>조회수</td>
						<td>추천수</td>
					</tr>
				</thead>
				<tbody class="table-group-divider">
					<tr th:each="list : ${boardList}" style="color: black; font-weight: lighter;">
						<td th:text="${list.boardNum}"></td>
						<td>
							<th:block th:if="${list.isSecret eq 'N'}">
								<a th:href="@{/board/boardDetail(boardNum=${list.boardNum})}">
									<span th:text="${list.boardTitle}"></span>
								</a>
							</th:block> 
							<th:block th:unless="${list.isSecret eq 'N'}">
								<!-- 작성자본인과 관리자만 수정삭제가능 -->
								<th:block th:if="${list.memberId eq #authentication.name or #strings.contains(#authentication.authorities,'ROLE_Y')}">
									<img src="/imgs/board/자물쇠.png" height="20" width="20">
									<a th:href="@{/board/boardDetail(boardNum=${list.boardNum})}">
										<span th:text="${list.boardTitle}"></span>
									</a>
								</th:block>
								<th:block th:unless="${list.memberId eq #authentication.name or #strings.contains(#authentication.authorities,'ROLE_Y')}">
									<img src="/imgs/board/자물쇠.png" height="20" width="20">
									<span>비밀글입니다</span>
								</th:block>
							</th:block> 
							&nbsp; 
							<!-- <th:block th:if="${list.replyCount ne 0}">
								<span style="color: #f56642;">[</span>
								<span style="color: #f56642;" th:text="${list.replyCount}"></span>
								<span style="color: #f56642;">]</span>
							</th:block> 
							<th:block th:unless="${list.replyCount ne 0}">
							</th:block>  -->
							<th:block th:if="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd HH') eq list.boardRegDate}">
								<img src="/imgs/board/icons8-동그라미-n-48.png" height="20" width="20" />
							</th:block> 
							<th:block th:unless="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd HH') eq list.boardRegDate}">
							</th:block>
						</td>
						<td th:text="${list.memberId}"></td>
						<td th:text="${#strings.substring(list.boardRegDate,0,10)}"></td>
						<td th:text="${list.boardReadCnt}"></td>
						<td th:text="${list.likeCount}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

	 <!-- 로그인 한 유저만 보이도록  -->
	<div class="row" text-center>
		<span sec:authorize="isAuthenticated()">
			<button type="button" class="btn btn-outline-info" th:onclick="|location.href='@{/board/regBoardForm}'|">글쓰기</button>	
		</span>
	
	</div>  
</div>

</html>