<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="adminMapper">

<!-- 게시판 1계층 카테고리 -->
<resultMap type="kh.study.soccer.board.vo.BoardCategoryVO" id="boardCate">
	<id column="BOARD_CATE_CODE" 			property="boardCateCode"/>
	<result column="BOARD_CATE_NAME" 		property="boardCateName"/>
	
	<result column="BOARD_SUB_CATE_CODE" 			property="boardSubCateCode"/>
	<result column="BOARD_SUB_CATE_NAME" 		property="boardSubCateName"/>
	
	<result column="BOARD_DEEP_SUB_CATE_CODE" 			property="boardDeepSubCateCode"/>
	<result column="BOARD_DEEP_SUB_CATE_NAME" 		property="boardDeepSubCateName"/>
</resultMap>


<!-- 게시판 2계층 카테고리 -->
<!-- <resultMap type="kh.study.soccer.board.vo.BoardSubCategoryVO" id="boardSubCate">
	<id column="BOARD_SUB_CATE_CODE" 			property="boardSubCateCode"/>
	<result column="BOARD_SUB_CATE_NAME" 		property="boardSubCateName"/>
</resultMap>

게시판 3계층 카테고리
<resultMap type="kh.study.soccer.board.vo.BoardDeepSubCategoryVO" id="boardDeepSubCate">
	<id column="BOARD_DEEP_SUB_CATE_CODE" 			property="boardDeepSubCateCode"/>
	<result column="BOARD_DEEP_SUB_CATE_NAME" 		property="boardDeepSubCateName"/>
</resultMap> -->




<!--게시판 1계층 카테고리 조회 -->
<select id="selectBoardCate" resultMap="boardCate">
	SELECT BOARD_CATE_CODE
		, BOARD_CATE_NAME
	FROM BOARD_CATEGORY
	ORDER BY BOARD_CATE_CODE
</select>

<!--게시판 1계층 카테고리 생성  -->
<insert id="insertBoardCate">
	<selectKey resultType="String" keyProperty="boardCateCode" order="BEFORE">
		SELECT 'BOARD_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(BOARD_CATE_CODE, 7))), 0) + 1, 3, 0) 
		FROM BOARD_CATEGORY  
	</selectKey>
	
		INSERT INTO BOARD_CATEGORY (
			BOARD_CATE_CODE     
			, BOARD_CATE_NAME
		) VALUES (
			#{boardCateCode}
			, #{boardCateName}
		)
</insert>

<!--게시판 2계층 카테고리 조회 -->
<select id="selectSubBoardCate" resultMap="boardCate">
	SELECT BOARD_SUB_CATE_CODE
		, BOARD_SUB_CATE_NAME
	FROM BOARD_SUB_CATEGORY
	ORDER BY BOARD_SUB_CATE_CODE
</select>

<!--게시판 2계층 카테고리 생성  -->
<insert id="insertSubBoardCate">
	<!-- <selectKey resultType="String" keyProperty="boardCateCode" order="BEFORE">
		SELECT 'BOARD_'||LPAD(NVL(MAX(TO_NUMBER(SUBSTR(BOARD_CATE_CODE, 7))), 0) + 1, 3, 0) 
		FROM BOARD_CATEGORY  
	</selectKey> -->
	<selectKey resultType="String" keyProperty="boardSubCateCode" order="BEFORE">
		SELECT LPAD(NVL(MAX(TO_NUMBER(BOARD_SUB_CATE_CODE)), 0) + 1, 3, 0) 
		FROM BOARD_SUB_CATEGORY  
	</selectKey>
	
		INSERT INTO BOARD_CATEGORY (
			BOARD_SUB_CATE_CODE     
			, BOARD_SUB_CATE_NAME
		) VALUES (
			(SELECT  FROM BOARD_CATEGORY)#{boardSubCateCode}
			, #{boardSubCateName}
		)
</insert>





</mapper>
